@CHARSET "ISO-8859-1";

body, html {
       /*font-family: Tahoma, sans-serif;
       font-size: 11px;
       color: #EEEEEE;
       background-color: #2A2A2A;*/
       padding: 10px;
	}
/*
a:link, a:active, a:visited {
        color: #FF6600;
	} */
 
a:hover {
	color: #FFFFCC;
   }

td {
	color: #996666;
    border: 1px solid #999999;
    cursor: pointer;
	}
   
.cords {
	background-image: url(images/chrome.png);
	}

.target {
	/*background-color: #CFCFCF;*/
	background-color: #C7E0C7;
	}

.crosshair {
	background-color: #FFFFFF;
	}
   
.crosshairHighlight {
	background-color: #CFCFCF;
	/*background-color: #C7E0C7;*/
	}
