
.negrita {
	font-weight: bold;
	}
	
.cursiva {
	font-style: italic;
	}
	
ul, ol {
		font-weight: normal;
		}
	
#saludo {
	width:697px;
	height:500px;
	background: url(images/inicio.png) no-repeat;
	text-align:center;
	}
	
#saludo h1 {
	color: maroon;
	}

.smallpics {
	float:right;
	padding:30px;
	
	}
	
.descripciones img {
/*	padding: 10 10 10 10;
	background-color:#66CCFF;*/
	border-style:ridge;
	border-color:#003366;
	border-width:thin;

	}
.descripciones p img {
	border:none;
	padding:0px;
	background:none;
	vertical-align:bottom;
	}
	
.descripciones ul img {
	border:none;
	padding:0px;
	background:none;
	vertical-align:bottom;
	}
